/@
/code/*.json
/code/*.cpp
/code/*.key
/client/licensed/ckeditor*
/client/licensed/font*
/client/licensed/jquery*
/client/licensed/jush*
/server/vendor
/server/licensed/xls*
/nbproject
/server/licensed/phpmailer/
